<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .header_title {
        color: black;
        text-decoration: none;
        font-size: 20px;
      }
      .header {
        background-color: gainsboro;
      }
      .frontpage {
        color: brown;
      }
      .background {
        background-color: powderblue;
        border-radius: 12px;
        padding: 10px 15px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <a href="/" class="header_title">DjangoBlogSite</a>
    </header>
    <section>{% block content %}{% endblock %}</section>
  </body>
</html>
